<header>
<div class="principio">
  <div class="logo">
    <img id="princio" src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1659143423/APLogo-20-20.png" class="perfil">
    <p>Argentina Pograma  #YoProgramo</p>
  </div>
  <div class="espacio">


  </div>

  <div class="login">
    <a href="https://www.facebook.com" target="_blank"> <img class ="redes" src="https://cdn.pixabay.com/photo/2015/05/17/10/51/facebook-770688_960_720.png"> </a>
    <a href="https://www.linkedin.com/" target="_blank"> <img class="redes" src="https://cdn-icons-png.flaticon.com/512/174/174857.png"></a>

    <button *ngIf=(logueado) (click)="logout()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Logout
    </button>
    <button *ngIf=!(logueado) (click)="ingresar()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Ingresar
    </button>

  </div>

</div>




</header>
