<div style="margin-top: 5%;">
  <h3>Proyectos</h3>
</div>

<div class="proyectos">

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn-icons-png.flaticon.com/512/3381/3381007.png" class="img-fluid rounded-start" alt="proyecto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{proyecto}}</h5>
          <p class="card-text">{{fecha}}</p>
          <p class="card-text">{{descripcion}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn-icons-png.flaticon.com/512/3381/3381007.png" class="img-fluid rounded-start" alt="proyecto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{proyecto}}</h5>
          <p class="card-text">{{fecha}}</p>
          <p class="card-text">{{descripcion}}</p>
        </div>
      </div>
    </div>
  </div>


</div>
