<div style="margin-top: 5%;">
  <h3>Proyectos <svg *ngIf=(logueado) data-bs-toggle="modal" data-bs-target="#proyectoModal"
      xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus"
      viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg></h3>
  <div style="color:black ;" class="modal fade" id="proyectoModal" tabindex="-1" aria-labelledby="proyectoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="proyectoLabel">Nuevo Proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formEditar" (ngSubmit)="agregar(formEditar.value)">
            <div class="mb-3">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Titulo*</span>
                <input type="text" formControlName="titulo" class="form-control" placeholder="Titulo del proyecto"
                  aria-label="Username" aria-describedby="basic-addon1"
                  [ngClass]="{'is-invalid':formEditar.get('titulo')?.errors && formEditar.get('titulo')?.touched, 'is-valid': !formEditar.get('titulo')?.errors && formEditar.get('titulo')?.touched}">

              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Descripcion*</span>
                <input type="text" formControlName="descripcion" class="form-control"
                  placeholder="descripcion del proyecto" aria-label="Recipient's username"
                  aria-describedby="basic-addon2"
                  [ngClass]="{'is-invalid':formEditar.get('descripcion')?.errors && formEditar.get('descripcion')?.touched, 'is-valid': !formEditar.get('descripcion')?.errors && formEditar.get('descripcion')?.touched}">

              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Link Al Proyecto</span>
                <input type="text" formControlName="link" name="desde" class="form-control" id="basic-url"
                  aria-describedby="basic-addon3">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Url Imagen</span>
                <input type="text" formControlName="img" class="form-control"
                  aria-label="Amount (to the nearest dollar)">
              </div>
              <p>* es requerido</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" [disabled]="formEditar.invalid" class="btn btn-primary"
                data-bs-dismiss="modal">Cargar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="proyectos">

  <ul class="lista">

    <li *ngFor="let proyecto of miPortfolio">

      <div class="card mb-3" style="max-width: 640px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="proyecto.img" class="img-fluid rounded-start" alt="proyecto">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{proyecto.titulo}}
                <svg *ngIf=(logueado) (click)="funcmostrar(proyecto.pro_id)" xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path
                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                </svg>
                <svg *ngIf=(logueado) (click)="eliminar(proyecto.pro_id)" xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
              </h5>
              <p class="card-text">{{proyecto.descripcion}}</p>
              <button class="btn btn-primary">
              <a *ngIf="proyecto.link != ''" href={{proyecto.link}} target="_blank" class="card-text">Link al
                Proyecto</a>
              </button>
            </div>

          </div>
          <div>
            <form class="editar" *ngIf="proyecto.pro_id == mostrar" (ngSubmit)="edit(formEditar.value,proyecto.pro_id)"
              [formGroup]="formEditar">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Titulo</span>
                <input type="text" formControlName="titulo" class="form-control" placeholder={{proyecto.titulo}}
                  aria-label="Username" aria-describedby="basic-addon1">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Descripcion</span>
                <input type="text" formControlName="descripcion" class="form-control"
                  placeholder={{proyecto.descripcion}} aria-label="Recipient's username"
                  aria-describedby="basic-addon2">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Link al proyecto</span>
                <input type="text" formControlName="link" name="desde" class="form-control" id="basic-url"
                  placeholder={{proyecto.link}} aria-describedby="basic-addon3">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Url imagen</span>
                <input type="text" formControlName="img" class="form-control" placeholder={{proyecto.img}}
                  aria-label="Amount (to the nearest dollar)">

              </div>

              <button type="submit" class="btn btn-primary">editar </button>
            </form>
          </div>
        </div>

      </div>

    </li>

  </ul>

</div>