.proyectos{
color: black;
}

.lista{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  margin-right: 4%;
}

a{color: white; 
text-decoration: none;}