<app-header></app-header>
<app-acerca-de (editoPers)="recibidoPers($event)" *appRecarga="recargarPers"></app-acerca-de>
<app-experiencia (editoExp)="recibidoExp($event)" *appRecarga="recargarExp"> </app-experiencia>
<app-educacion (editoEdu)="recibidoEdu($event)" *appRecarga="recargarEdu"></app-educacion>
<app-habilidades (edito)="recibido($event)" *appRecarga="recargar"></app-habilidades>
<app-proyectos (editoPro)="recibidoPro($event)" *appRecarga="recargarPro"></app-proyectos>
<app-footer></app-footer>
